:root {
    --main-bg-color: #ecf0f1;
}

.sidenav {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    min-height: 100vh;
    padding-top: 20px;
    overflow-x: hidden;
    border-right: lightgray;
    border-right-style: solid;
    border-right-width: 1px;
    background: var(--main-bg-color);
}